<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<form action="/saveDeck" method="POST" id="deckForm">  
	<div>Enter in cards, one card per line. Try inputing cards like "Black Lotus" or "Island"!</div>
  <textarea name="deckListArea" id="decklistArea"  rows="30" cols="50">1 Black Lotus&#10;1 Jace, the Mind Sculptor</textarea>
  <br>
  Format
  <select name="format" id="formatSelect">  
    <option value="Standard	">Standard</option>
    <option value="Modern">Modern</option>
    <option value="Legacy">Legacy</option>
    <option value="Commander">Commander</option>
  </select>
  <input type="submit" name="save">
</form>
<button id="updateButton">Update</button> 

<div id="showArea"></div>

<script>
let btn = document.getElementById("updateButton");
let decklist = document.getElementById("decklistArea");
let showArea = document.getElementById("showArea");
const urlBase = "/";

btn.addEventListener('click', function(e) {
  let list = decklist.value; 
  showArea.innerHTML = "updating...";
  ajaxPostCall(list, (response) => {
    showArea.innerHTML = "";
    let parsedResponse = JSON.parse(response);
    for(var i = 0; i < parsedResponse.length; i++)
    {
      showArea.innerHTML += "<img class= \"card\"src=\'" + parsedResponse[i].imageUrl + "\' />";
    }
  })
});

function ajaxPostCall(list, callBack) {
  let xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      callBack(this.responseText);
    }
  };
  xhttp.open("POST", '/updateDeck', true);
  xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhttp.send("decklist=" + list);
}


</script>

</body>
</html>
